.card {
    box-shadow: 0 2px 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 350px;
}

.card-header {
    display: flex;
}

.card-header__location-container {
    width: 55%;
}

.card-header__location {
    font-size: 16px;
}

.card-header__data {
    font-size: 18px;
}

.card-header__weather-icon {
    width: 40px;
    height: 40px;
}

.card-header__weather-description-container {
    text-align: right;
    width: 42.5%;
    padding-right: 5px;
}

.card-header__weather-description {
    line-height: 1.5;
    font-size: 13px;
    color: #C5C5C5;
}

.card-header__remove-btn-wrapper {
    width: 7.5%;
}

.card-header__remove-btn-wrapper {
    text-align: center;
    height: 25px;
    color: grey;
}

.graph {
    height: 65px;
    background-color: orange;
    margin-bottom: 15px;
}

.card-footer {
    display: flex;
    justify-content: space-around;
}

.card-footer__temp-container {
    width: 50%;
    text-align: left;
}

.card-footer__other-info-container {
    width: 50%;
    text-align: right;
}

.card-footer__temp-container-real {
    font-size: 18px;
}

.card-footer__temp {
    font-weight: bold;
    font-size: 28px;
    margin-right: 5px;
}

.card-footer__celsius-btn {
    font-weight: bold;
    color: #8D8D8D;
    margin-right: 5px;
    cursor: pointer;
}

.card-footer__temp-divider {
    color: #8D8D8D;
    margin-right: 5px;
}

.card-footer__fahrenheit-btn {
    font-weight: bold;
    color: #8D8D8D;
    cursor: pointer;
}

.card-footer__temp-feels-like {
    font-size: 13px;
    color: #C5C5C5;
}

.card-footer__other-info {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-footer__wind,
.card-footer__humidity,
.card-footer__pressure {
    color: #459DE9;
    margin-left: 5px;
}





